# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/

# Streamlit
.streamlit/secrets.toml

# LangChain / LangGraph
.langgraph/
cache/

# Environment / Secrets
.env
.env.local
logs/

# OS / IDE
.DS_Store
.vscode/
.idea/

#Miscellaneous
.planning/
.code-review-graph/
*.egg-info/
tasks/
.gemini/

# Test assets
test_questions.txt
